/* https://colorhunt.co/palette/222831393e4600adb5eeeeee */
body {
    font-family: 'ShareTech', sans-serif !important;
    background: #222831 !important;
    color: #EEEEEE !important;
}
.navbar {
    background: #393E46;
    opacity: 95%;
}
.nav-item {
    margin: 0 7px;
}
.card {
    text-decoration: none;
    text-shadow: 8px 8px 10px#0000008c;
}
#link {
    text-decoration: none;
    color: #EEEEEE !important;
    font-size: 20px;
}
#card1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url('../images/laptop.png');
}
#card2 {
    background-image: url('../images/technology.png');
}
#card3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url('../images/flowers.png');
}
#card4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url('../images/books.png');
}
#card5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url('../images/weather.png');
}
#card6 {
    background-image: url('../images/newspaper.png');
}
#description {
    margin: 0px 8px 0px 8px !important;
}
button:hover {
    border: 1px solid #EEEEEE !important;
}
.divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15);
}
.a {
    text-decoration: none;
}
#welcome {
    text-shadow: 8px 8px 10px#0000008c;
}

#intro-background {
    background: linear-gradient(300deg, #1d2229, #1c2027, #262d36);
}